.container-entrar {
  background-color: #eff7f3;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-entrar {
  width: 30.3vh;
  height: 30.3vh;

  margin-top: 8.13vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.43vh;
}
.input-container {
  position: relative;
  margin-bottom: 2.43vh;
}
.input-entrar {
  color: #64748b;
  font-size: 2.5vh;
  font-weight: 400;
  font-family: "inter";

  width: 41vh;
  height: 8.98vh;

  outline: none;
  border: 1px solid #e2e8f0;
  transition: #e2e8f0 0.2s ease;
  border-radius: 8px;

  padding: 1.6vh 2.43vh;

  box-sizing: border-box;
}
.floating-label {
  position: absolute;
  top: 50vh;
  left: 2.43vh;
  transform: translateY(-50%);
  font-size: 2.5vh;
  color: #64748b;

  pointer-events: none;
  transition: 0.2s ease all;
}
.error-label {
  color: #FF2C20 !important;
}

.input-entrar:focus + .floating-label,
.input-entrar:not(:placeholder-shown) + .floating-label {
  top: 1.5vh;
  font-size: 2vh;
  color: #64748b;
}
.input-entrar:focus {
  border-color: #64748b;
}
.error-text-entrar{
  color: red;
  font-size: 2.4vh;
  margin-left: 2.5vh;
  margin-bottom: 0vh;
}
.text-entrar {
  color: #0c9762;

  font-size: 2.5vh;
  font-weight: 700;
  font-family: "inter";

  text-decoration: none;

  margin-top: 1.2vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}
.button-entrar {
  background-color: #f1f5f9;
  color: #cbd5e1;

  border: none;
  border-radius: 8px;

  font-size: 2.5vh;
  font-weight: 700;
  font-family: "inter";

  width: 41vh;
  height: 8.98vh;

  margin-bottom: 12.13vh;
}
.button-entrar.active {
  background-color: #0c9762;
  color: #ffffff; 
  cursor: pointer; 
}